.search_input{
  form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  input{
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: 35px;
    margin-right: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #2F2E41;
    @media(min-width: 440px){
      width: 400px;
      font-size: 20px;
    }
  }
  button{
    top: 0;
    height: 35px;
    padding: 8px 20px;
    background-color: #2F2E41;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @media(min-width: 720px){
      padding: 8px 40px;
    }
    img{
      height: 100%;
    }
  }
  
}
