.navbar{
  background-color: #2F2E41;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
  
  @media(min-width: 992px){
    padding: 0 100px 0 64px;
  }
}

.navbar_logo{
  padding: 20px 0;
  display: flex;
  align-items: center;
 h2{
   font-size: 25px;
  color: white;
  font-weight: 300;
 }
  img{
    width: 40px;
    margin-right: 5px;
  }
}

.navbar_list-desktop{
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  background-color: #2F2E41;
  display: none;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 300px;
  @media(min-width: 720px){
    display: flex;
    position: unset;
    background-color:unset
  }
  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 80px;
    cursor: pointer;
    transition: 0.2s;
  }
  .box:hover{
    background-color: rgba(0, 0, 0,0.2);
  }
  img{
    width: 25px;
    margin-bottom: 5px;
  }
}

.navbar_list-mobile{
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  background-color: #2F2E41;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 300px;
  padding: 0 30px 10px 30px;
  @media(min-width: 720px){
    display: none;
  }
  .box{
    padding: 0 10px;
    height: 50px;
    text-align: left;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
  }
  .box:hover{
    background-color: rgba(0, 0, 0,0.2);
  }
  img{
    width: 25px;
   
    margin-right: 10px;
  }
}


.menu-icon{
  display: flex;
  align-self: center;
  @media(min-width: 720px){
    display: none;
  }
}